@font-face {
  font-family: "Google Sans";
  src:
    url("data/GoogleSans/GoogleSans-Bold.woff2") format("woff2"),
    url("data/GoogleSans/GoogleSans-Bold.woff") format("woff"),
    url("data/GoogleSans/GoogleSans-Bold.otf") format("otf");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "Google Sans";
  src:
    url("data/GoogleSans/GoogleSans-BoldItalic.woff2") format("woff2"),
    url("data/GoogleSans/GoogleSans-BoldItalic.woff") format("woff"),
    url("data/GoogleSans/GoogleSans-BoldItalic.otf") format("otf");
  font-style: italic;
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "Google Sans";
  src:
    url("data/GoogleSans/GoogleSans-Italic.woff2") format("woff2"),
    url("data/GoogleSans/GoogleSans-Italic.woff") format("woff"),
    url("data/GoogleSans/GoogleSans-Italic.otf") format("otf");
  font-style: italic;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Google Sans";
  src:
    url("data/GoogleSans/GoogleSans-Medium.woff2") format("woff2"),
    url("data/GoogleSans/GoogleSans-Medium.woff") format("woff"),
    url("data/GoogleSans/GoogleSans-Medium.otf") format("otf");
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "Google Sans";
  src:
    url("data/GoogleSans/GoogleSans-MediumItalic.woff2") format("woff2"),
    url("data/GoogleSans/GoogleSans-MediumItalic.woff") format("woff"),
    url("data/GoogleSans/GoogleSans-MediumItalic.otf") format("otf");
  font-style: italic;
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "Google Sans";
  src:
    url("data/GoogleSans/GoogleSans-Regular.woff2") format("woff2"),
    url("data/GoogleSans/GoogleSans-Regular.woff") format("woff"),
    url("data/GoogleSans/GoogleSans-Regular.otf") format("otf");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}