@font-face {
    font-family: "Google Sans";
    src:
        url("https://cdn.jsdelivr.net/gh/DELNEGEND/fonts@0.6/GoogleSans/GoogleSans-Bold.woff2") format("woff2"),
        url("https://cdn.jsdelivr.net/gh/DELNEGEND/fonts@0.6/GoogleSans/GoogleSans-Bold.woff") format("woff"),
        url("https://cdn.jsdelivr.net/gh/DELNEGEND/fonts@0.6/GoogleSans/GoogleSans-Bold.otf") format("otf");
    font-style: normal;
    font-weight: 700;
    font-display: swap;
}

@font-face {
    font-family: "Google Sans";
    src:
        url("https://cdn.jsdelivr.net/gh/DELNEGEND/fonts@0.6/GoogleSans/GoogleSans-BoldItalic.woff2") format("woff2"),
        url("https://cdn.jsdelivr.net/gh/DELNEGEND/fonts@0.6/GoogleSans/GoogleSans-BoldItalic.woff") format("woff"),
        url("https://cdn.jsdelivr.net/gh/DELNEGEND/fonts@0.6/GoogleSans/GoogleSans-BoldItalic.otf") format("otf");
    font-style: italic;
    font-weight: 700;
    font-display: swap;
}

@font-face {
    font-family: "Google Sans";
    src:
        url("https://cdn.jsdelivr.net/gh/DELNEGEND/fonts@0.6/GoogleSans/GoogleSans-Italic.woff2") format("woff2"),
        url("https://cdn.jsdelivr.net/gh/DELNEGEND/fonts@0.6/GoogleSans/GoogleSans-Italic.woff") format("woff"),
        url("https://cdn.jsdelivr.net/gh/DELNEGEND/fonts@0.6/GoogleSans/GoogleSans-Italic.otf") format("otf");
    font-style: italic;
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: "Google Sans";
    src:
        url("https://cdn.jsdelivr.net/gh/DELNEGEND/fonts@0.6/GoogleSans/GoogleSans-Medium.woff2") format("woff2"),
        url("https://cdn.jsdelivr.net/gh/DELNEGEND/fonts@0.6/GoogleSans/GoogleSans-Medium.woff") format("woff"),
        url("https://cdn.jsdelivr.net/gh/DELNEGEND/fonts@0.6/GoogleSans/GoogleSans-Medium.otf") format("otf");
    font-style: normal;
    font-weight: 500;
    font-display: swap;
}

@font-face {
    font-family: "Google Sans";
    src:
        url("https://cdn.jsdelivr.net/gh/DELNEGEND/fonts@0.6/GoogleSans/GoogleSans-MediumItalic.woff2") format("woff2"),
        url("https://cdn.jsdelivr.net/gh/DELNEGEND/fonts@0.6/GoogleSans/GoogleSans-MediumItalic.woff") format("woff"),
        url("https://cdn.jsdelivr.net/gh/DELNEGEND/fonts@0.6/GoogleSans/GoogleSans-MediumItalic.otf") format("otf");
    font-style: italic;
    font-weight: 500;
    font-display: swap;
}

@font-face {
    font-family: "Google Sans";
    src:
        url("https://cdn.jsdelivr.net/gh/DELNEGEND/fonts@0.6/GoogleSans/GoogleSans-Regular.woff2") format("woff2"),
        url("https://cdn.jsdelivr.net/gh/DELNEGEND/fonts@0.6/GoogleSans/GoogleSans-Regular.woff") format("woff"),
        url("https://cdn.jsdelivr.net/gh/DELNEGEND/fonts@0.6/GoogleSans/GoogleSans-Regular.otf") format("otf");
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}