@font-face {
    font-family: "OneUI";
    src:
        url('https://cdn.jsdelivr.net/gh/DELNEGEND/fonts@latest/data/OneUI/SamsungOneUI-400.woff2') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/DELNEGEND/fonts@latest/data/OneUI/SamsungOneUI-400.woff') format('woff'),
        url('https://cdn.jsdelivr.net/gh/DELNEGEND/fonts@latest/data/OneUI/SamsungOneUI-400.otf') format('otf');
    font-display: swap;
    font-weight: 400;
    font-style: normal;
}